<div class="header-spacer"></div>
<header class="app-header">
  <div class="header-left-content">
    <button mat-icon-button class="header-text" (click)="displayGridView()" [class.accent-header-text]="!gridLayout">
      <mat-icon>apps</mat-icon>
    </button>
    <button mat-icon-button class="header-text" (click)="displayListView()" [class.accent-header-text]="gridLayout">
      <mat-icon>format_list_bulleted</mat-icon>
    </button>

  </div>
  <nav><a href="/" class="logo"><mat-icon class="logo-icon">rocket_launch</mat-icon><span class="bolder-logo-text">Space</span>stagram</a></nav>


  <div class="header-right-content">
    <span class="header-text mr-10" [class.accent-header-text]="darkMode">Light</span>
  <mat-slide-toggle [checked]="darkMode" (toggleChange)="toggleDarkMode()" class="dark-mode-toggle" aria-label="toggle dark mode ">
  </mat-slide-toggle>
    <span class="header-text ml-10" [class.accent-header-text]="!darkMode">Space</span>
  </div>

  <div class="header-right-content-mobile">
    <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>menu</mat-icon></button>
    <mat-menu #menu="matMenu" class="mobile-menu">
      <button class="header-text" mat-menu-item (click)="displayGridView()" [class.accent-header-text]="!gridLayout">
        <mat-icon>apps</mat-icon>
        grid view
      </button>
      <button class="header-text" mat-menu-item (click)="displayListView()" [class.accent-header-text]="gridLayout">
        <mat-icon>format_list_bulleted</mat-icon>
        list view
      </button>
      <button mat-menu-item (click)="toggle.toggle(); toggleDarkMode()">
        <span class="header-text mr-10" [class.accent-header-text]="darkMode">Light</span>
        <mat-slide-toggle #toggle [checked]="darkMode" (click)="$event.preventDefault()" class="dark-mode-toggle" aria-label="toggle dark mode ">
        </mat-slide-toggle>
        <span class="header-text ml-10" [class.accent-header-text]="!darkMode">Space</span>
      </button>
    </mat-menu>
  </div>
</header>

<div class="view-options">
  <a mat-button class="view-button" routerLink="home" [routerLinkActive]="['is-active']">
    <mat-icon>shuffle</mat-icon> Random
  </a>
  <a mat-button class="view-button date-button ml-10" [routerLinkActive]="['is-active']">
    Date <mat-datepicker-toggle [disabled]="router.url != '/home'" (click)="checkClick($event)"matSuffix [for]="picker2"></mat-datepicker-toggle>
  </a>

  <input matInput class="cdk-visually-hidden" [max]="today" [matDatepicker]="picker2">
  <mat-datepicker #picker2 ></mat-datepicker>

  <a mat-button class="view-button" routerLink="liked" [routerLinkActive]="['is-active']">
    <mat-icon>{{router.url == '/liked' ? 'favorite' : 'favorite_border'}}</mat-icon> Liked
  </a>
</div>
