<div class="header-spacer"></div>
<header class="app-header">
  <div class="header-left-content"></div>
  <nav><a href="/" class="logo"><mat-icon class="logo-icon">rocket_launch</mat-icon><span class="bolder-logo-text">Space</span>stagram</a></nav>
  <div class="header-right-content">
    <span class="header-text mr-10" [class.accent-header-text]="darkMode">Light</span>
  <mat-slide-toggle [checked]="darkMode" (toggleChange)="toggleDarkMode()" class="dark-mode-toggle" aria-label="toggle dark mode ">
  </mat-slide-toggle>
    <span class="header-text ml-10" [class.accent-header-text]="!darkMode">Space</span>
  </div>
</header>
