
//css vars
:root {
  --main-background-color: #FAFAFE;
  --accent-background-color:white;
  --dark-accent-background-color: #efefef;
  --main-border-color: #dbdbdb;
  --primary-color: #2f41f1;
  --accent-color: #7480ff;
  --primary-text-color: black;
  --accent-text-color: grey;
}
[data-theme="dark"] {
  --main-background-color: #121317;
--accent-background-color: #151718;
  --dark-accent-background-color: #15191a;
  --main-border-color: #48516a;
  --primary-text-color: #F3F3F4;
  --primary-color: #2f41f1;
  --accent-color: #7480ff;
  --accent-text-color: #677092;
}
