:host{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

//sizing
::ng-deep .photo-grid .photo,::ng-deep .photo-grid article {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
::ng-deep .photo-list .photo {
  width: 100%;
  object-fit: cover;
  display: block;
}
.video-container { position: relative; padding-bottom: 56.25%; padding-top: 30px; height: 0; overflow: hidden; }
.video-container iframe, .video-container object, .video-container embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


//formatting
section{
  padding: 20px;
  background: var(--dark-accent-background-color);
  display: flex;
}
.right-description-text{
  display: flex;
  flex:1;
  justify-content: flex-end;
}
.photo-title{
  margin-bottom: 8px;
}
.photo-date{
  color: var(--accent-text-color);
  margin-bottom: 0;
}
::ng-deep .right-description-text .mat-ripple-element {
  background-color: rgba(255, 0, 55, 0.4);
}


