<div [class.hide-loading]="!requestLoaded" [class.photo-grid]="gridLayout" [class.photo-list]="!gridLayout">
  <app-photo-card (imageLoadedEmitter)="imageLoaded()" [class.photo-list-item]="!gridLayout" *ngFor="let photo of nasaPhotos; index as i;" [photo]="photo" appStyleGridItem [index]="i"></app-photo-card>
</div>
<div  *ngIf="!requestLoaded" class="rocket-loading-container">
  <app-rocket-loader></app-rocket-loader>
</div>
<div  *ngIf="apiImagesRequested && requestLoaded" class="rocket-loading-container-append">
  <app-rocket-loader></app-rocket-loader>
</div>

